


/* :root {
    --dark-color: #1c1364;
    --dark-color-1: #1c136454;
    --light-color: #29aae1;
    --light-color-1: #29aae160;
    --dark-shadow: 1px 1px 8px white;
    --dark-shadow-black: 1px 2px 7px black;
    
} */
   



    

   

   
